@{
    ViewBag.Title = "update";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@*@model OnlineJobShop.Models.registerJ*@
@model AgainLastWebRTC.Models.registerJ

<div class="body">

    <div class="page-head">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>Job Seeker Profile</h3>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>
<div class="space80"></div>

<!-- Contact wrap -->
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="space25"></div>
            <div class="space40"></div>
  



                <h3 style="color:blue"; >View and edit your profile</h3>
                <fieldset>
                                        <legend class=""> Job Seeker Details</legend>



                    @*@using (Html.BeginForm()) {*@
                    <form class="contact-form" action="/Register/UpdateConfirm/@Model.J_id" method="post">
                     @*   @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)*@



        <div>
            <h4>First Name</h4>
            @*@Html.ValidationMessageFor(model=>model.fname)*@
            @Html.EditorFor(model => model.fname)
            <span> </span>
            <div class="clear"> </div>
        </div>
        <div>
            <h4>Last Name</h4>
            @*@Html.ValidationMessageFor(model=>model.lname)*@
            @Html.EditorFor(model => model.lname)
            <span> </span>
            <div class="clear"> </div>
        </div>


        <div>
            <h4>Email Address</h4>
            @*@Html.ValidationMessageFor(model=>model.email)*@
            @Html.EditorFor(model => model.email)<span> </span>
            <div class="clear"> </div>
        </div>

        <div>
            <h4>Username</h4>
            @*@Html.ValidationMessageFor(model=>model.username)*@
            @Html.EditorFor(model => model.username)<span> </span>
            <div class="clear"> </div>
        </div>
        <div>
            <h4>Password</h4>
            @*@Html.ValidationMessageFor(model=>model.password)*@
            @Html.EditorFor(model => model.password)
            <span> </span>
            <div class="clear"> </div>
        </div>
        @*<h4>Confirm Password</h4>
            <input type="password" value="Password"  /><span> </span>
            <div class="clear"> </div>*@

        <div>
            <h4>Expected Salary</h4>
            @*@Html.ValidationMessageFor(model=>model.salary)*@
            @Html.EditorFor(model => model.salary)<span> </span>
            <div class="clear"> </div>
        </div>
        <div>
            <h4>Qualification</h4>
            @*@Html.ValidationMessageFor(model=>model.qualification)*@
            @Html.EditorFor(model => model.qualification)
            <span> </span>
            <div class="clear"> </div>
        </div>
        <div>
            <h4>Area</h4>
            @*@Html.ValidationMessageFor(model=>model.area)*@
            @Html.EditorFor(model => model.area)<span> </span>
            <div class="clear"> </div>
        </div>
        <div>
            <h4>Contact No.</h4>
            @*@Html.ValidationMessageFor(model=>model.contactno)*@
            @Html.EditorFor(model => model.contactno)<span> </span>
            <div class="clear"> </div>
        </div>
        <div>
            <h4>Gender </h4>
            @*@Html.ValidationMessageFor(model=>model.gender)*@
            @Html.EditorFor(model => model.gender)<span> </span>
            <div class="clear"> </div>
        </div>
        <div>
            <h4>Age </h4>
            @*@Html.ValidationMessageFor(model=>model.age)*@
            @Html.EditorFor(model => model.age)<span> </span>
            <div class="clear"> </div>
        </div>

        <div>
            <h4>Experience </h4>
            @*@Html.ValidationMessageFor(model=>model.age)*@
            @Html.EditorFor(model => model.experience)<span> </span>
            <div class="clear"> </div>
        </div>

        <div class="submit-button">
                                <input type="submit" value="Save" />

        </div>


                    </form>

                    <div>
                        @Html.ActionLink("Back to Home", "Profile")
                    </div>
                    <p>.</p>
                    <p>.</p>
                                        </fieldset>
                                    <div class="space25"></div>
             
        </div>
    </div>
</div>

<div class="space80"></div>


