@model IEnumerable<AgainLastWebRTC.Models.registerJ>

@{
    ViewBag.Title = "search";
    Layout = "~/Views/Shared/_LayoutEmps.cshtml";
}


<div class="container">
    @using (Html.BeginForm("search", "JobSeeker", FormMethod.Get))
    {
        <div style="float:left" >
            @Html.Label("Qulification")
            @Html.TextBox("qulification","Qulification")
            
           
        </div>
        
       
        <div style="float:left">
           @Html.Label("Experience")
            @Html.TextBox("experience","Experience")
        </div>
        <div><input type="submit" value="Search"/></div>
        
        
    }


</div>

<section class="container" style=" background-color:white;padding-bottom:2%;padding-top:2%;border-top-left-radius:50px;border-top-right-radius:50px;border-bottom-left-radius:50px;border-bottom-right-radius:50px;">
    <div class="container">
        <div class="caontainer" style="text-align:center;color:red;font-weight:bolder;"  >UserName</div>
        <div style="float:left;margin-left:2%;margin-right:2%" class="m">First Name</div>
        
        <div class="m" style="float:left;margin-left:2%;margin-right:2%">Last Name</div>
       <div  class="m" style="float:left;margin-left:2%;margin-right:2%">Qualification</div>
        
        <div style="float:left;margin-left:2%;margin-right:2%;color:goldenrod"class="m" >Experience</div>
        
         <div style="float:left;margin-left:2%;margin-right:2%" class="m">Salary</div>
        <div style="float:left;margin-left:2%;margin-right:2%" class="m">Email</div>
        <div style="float:left;margin-left:2%;margin-right:2%" class="m">Spaslist</div>

        <div style="float:left;margin-left:2%;margin-right:2%" class="m">Age</div>
        <div style="float:left;margin-left:2%;margin-right:2%" class="m">Gender</div>
        <div style="float:left;margin-left:2%;margin-right:2%" class="m">Contact</div>
        
        
    </div>
</section> 
    <div class="space10" ></div>


 @foreach (var j in Model)
{
     
     
     
    <section class="container" style=" background-color:white;padding-bottom:2%;padding-top:2%;border-top-left-radius:50px;border-top-right-radius:50px;border-bottom-left-radius:50px;border-bottom-right-radius:50px;">
    <div class="container">
        <div class="caontainer" style="text-align:center;color:red;font-weight:bolder;"  >@j.username</div>
        <div style="float:left;margin-left:2%;margin-right:2%" class="m">@j.fname</div>
        
        <div class="m" style="float:left;margin-left:2%;margin-right:2%">@j.lname</div>
       <div  class="m" style="float:left;margin-left:2%;margin-right:2%">@j.qualification</div>
        
        <div style="float:left;margin-left:2%;margin-right:2%;color:goldenrod"class="m" >@j.experience</div>
        
         <div style="float:left;margin-left:2%;margin-right:2%" class="m">@j.salary</div>
        <div style="float:left;margin-left:2%;margin-right:2%" class="m">@j.email</div>
        <div style="float:left;margin-left:2%;margin-right:2%" class="m">@j.area</div>

        <div style="float:left;margin-left:2%;margin-right:2%" class="m">@j.age</div>
        <div style="float:left;margin-left:2%;margin-right:2%" class="m">@j.gender</div>
        <div style="float:left;margin-left:2%;margin-right:2%" class="m">@j.contactno</div>
        
        
    </div>
</section> 
    <div class="space10" ></div>
 }

