@{
    ViewBag.Title = "search";
}
@*@model IEnumerable<OnlineJobShop.Models.jobsJ> *@
@model IEnumerable<AgainLastWebRTC.Models.jobsJ> 
<style>
    .table1 {
        padding-left: 182px;
    }

    table {
        padding: 70px;
        background-color: white;
        padding-left:50px;
           }
    .td1 {
        padding-left: 33px;
       padding-right: 35px;
        padding-top: 25px;
        padding-bottom:25px;
        }
    th {
    color:blue;
    font-size:medium;
    font-weight:500;
 
           border-style:solid;
        border-bottom-width:2px;
        border-bottom-color:gray;
    }

    td {
        border-style:solid;
        border-bottom-width:1px;
        border-bottom-color:gray;
 padding-left:100px;
               color:green;
         }
    hr {
        color: black;
    }

    h1 {
        padding-left: 70px;
    }

    h2 {
        padding-left: 70px;
    }

    .div2 {
        padding-top: 20px;
    }

    .p1 {
        padding-top: 20px;
        text-align: center;
        font-size: 50px;
    }
    .p2 {
        font-size: 30px;
    }
    .div3 {
        padding-left: 90px;
    }
</style>

    <div class="page-head">
        <div class="container">
            <div class="row">
                <div class="col-md-6">

 
<p> 
@using (Html.BeginForm("Searchforjob", "Jobs", FormMethod.Get))
{    
         <p> Enter Search: @Html.TextBox("SearchString") <br />
             @Html.DropDownList("ChartType", new List<SelectListItem>
                     {
                        new SelectListItem{ Text="Experience", Value = "exp" }, 
                        new SelectListItem{ Text="Title", Value = "tit" },
                        new SelectListItem{ Text="Salary", Value = "sal" }
                     })
         <input type="submit" value="Search" />
             </p>   

        } 
</p>                </div>
</div>
            </div>
            <!-- /.row -->
        </div>

    <div class="table1">
        <p>
            @*Delete JobSeekers <br />
            <a href="/Jobs/DeleteNew">Delete JobSeekers</a>*@
        </p>

        <table>
            <tr>
                <th class="td1">
                    <q>@Html.DisplayName("First Name")</q>
                </th>
                <th class="td1">
                    @Html.DisplayName("Last date")
                </th>
                <th class="td1">
                    @Html.DisplayName("Title")
                </th>
                <th class="td1">
                    @Html.DisplayName("Experience")
                </th>
                <th class="td1">
                    @Html.DisplayName("Qualification")
                </th>
                <th class="td1">
                    @Html.DisplayName("Salary")
                </th>
                <th class="td1">
                    @Html.DisplayName("Description")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="td1">
                        @Html.DisplayFor(modelItem => item.registerJ.fname)
                    </td>
                    <td class="td1">
                        @Html.DisplayFor(modelItem => item.lastdate)
                    </td>
                    <td class="td1">
                        @Html.DisplayFor(modelItem => item.title)
                    </td>
                    <td class="td1">
                        @Html.DisplayFor(modelItem => item.experience)
                    </td>
                    <td class="td1">
                        @Html.DisplayFor(modelItem => item.qualification)
                    </td>
                    <td class="td1">
                        @Html.DisplayFor(modelItem => item.salary)
                    </td>
                    <td class="td1">
                        @Html.DisplayFor(modelItem => item.description)
                    </td>

@*                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "DeleteNew", new { id = item.Id })
                    </td>*@
                </tr>
            }

        </table>
    </div>
